.App {
  text-align: center;
  background-color: #0b414d;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0b414d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0b414d;
}

.div-body {
  background-color: #0b414d;
  min-height: 100vh;
}

.header {
  background-color: #0b414d;
  justify-content: center;
}

.header-title {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#offcanvas-spec {
  background-color: #0fded5;
}

.card-background {
  min-height: 100vh;
  background-color: #0b414d;
}
.title-spec {
  color:white;
  text-align: center;
  
}

.footer {
  min-height: 100vh;
  background-color: #0b414d;
}



